{% extends 'input.html' %}

{% block content %}

<table border = 1>
        <th>URL</th>
        <th>word count(including duplicates)</th>
        <th>word count(no duplicates)</th>
        <th>processing time</th>

        {% for i in range(0, (craw_list | length) , 1) %}

        <tr>
                <td> {{ craw_list[i]['url'] }}</td>
                <td> {{ craw_list[i]['count'] }}</td>
                <td> {{ craw_list[i]['count2'] }}</td>
                <td> {{ craw_list[i]['time'] }}</td>
        </tr>
        {% endfor %}
</table>
</div>

{% endblock %}
