<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

</head>
<body>
    	<div>
		{{ tf_list[0].items() }}
		{{ tf_list[0]| length }}
        <br>
	<br>
		{{ tf_list[1].items() }}
		{{ tf_list[1]| length }}
        <br>
	<br>
		{{ idf_dic.items() }}
		{{ idf_dic| length }}
	<br>
	<br>	
		{{ tfidf_list }}
		{{ tfidf_list| length }}
	<br>
	<br> 
        </div>
</body>
</html>
